body {
    background-color: black;
	color: #DDDDFF;
	font-family: Times New Roman, Georgia, Times or serif ;
}

a {
    background-color: #CCCCCC;
	color: inherit;
}

h2 {
	font-family: Arial, sans-serif;
    color: #CCCCCC;
}

.favorite {
    color: red;
	font-style: italic;
}